$green-leaf: #259E38;
$orange: #FF4500;
$green-dark: #1A5D09;
$yellow-gold: #FBD209;
$cherry-pink: #E73D63;
$gray-dark: #282828;
$color-white: #ffff;
$gray-light: #F3F3F3;

:root {
    --orange: #FF4500;
    --orange-light: #FF6B35;
}

$primary-font: 'Montserrat', sans-serif;
$secundary-font: 'Poppins', sans-serif;


$font-size-initial: 10px;
$font-size-xs: 12px;
$font-size-sm-one: 13px;
$font-size-sm-two: 14px;
$font-size-sm-three: 15px;
$font-size-md: 16px;
$font-size-md-one: 17px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-ultra: 40px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-medium-one: 600;
$font-weight-bold: 700;
$font-weight-ultra: 900;